*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body{
    margin: 0 auto;
    font-family: 'Rubik Mono One', sans-serif;
}



/* Navbar */

nav{
    position: fixed;
    right: 15px;
    top: 20px;
    z-index: 1;
}

nav ul{
    right: 0;
}

nav li{

    display: inline-block;
    z-index: 1;
}

nav li a{
    text-decoration: none;
    line-height: 100%;
    border: 1px solid black;
    border-radius: 50%;
    padding: 10px;
    background-color: #fff;
}

nav li:hover{
    transform: scale(1.15);
}
nav li:active{
    transform: scale(1);
}


/* Main */



section{
    height: 100vh; 
    position: relative;
}

#first-product{
    background-color: red;
}

#second-product{
    background-color: green;
}

#third-product{
    background-color: yellow;
}

section .content{
    width: 70%;
    height: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

section .content img{
    display: block;
    margin: 0 auto;
    object-fit: contain;
}

section .content h2{
    font-size: 2.5em;
    width: 100%;
    text-align: center;
    color: yellow;
}
section:last-child .content h2{

    color: forestgreen;
}